*.DS_Store
*.off
home/.config/karabiner/automatic_backups
home/.config/wireshark
home/.config/op
home/.config/nvim/lazy-lock.json
home/.config/fish/fish_variables
home/.config/Alfred.alfredpreferences/workflows
